{% extends 'base.html' %}
{% load static %}
{% block category_nav %}
<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
    
{% endblock category_nav %}
{% block content %}
<!-- About Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4" data-aos="fade-down">
        <h2 class="section-title px-5"><span class="px-2">About Us</span></h2>
    </div>
    <div class="row px-xl-5 mx-0  container-fluid">
        <div class="col-lg-6 mt-lg-5" style="overflow: hidden;text-align:center"  data-aos="fade-up">
            <iframe class="mw-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.7417642033724!2d83.00921207559787!3d25.312878827005015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e2e1ed9ad1ce9%3A0x752abd6f8a7c826!2sSeth%20Sarees!5e0!3m2!1sen!2sin!4v1671276365611!5m2!1sen!2sin" width="600" height="470" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
  
        <div class="col-lg-6" data-aos="fade-up">
            <h5 class="font-weight-semi-bold mb-lg-3 text-center ">Seth Sarees</h5>
                <p class="text-justify">Located in the historic chauk area of Varanasi, our Banarasi saree store has been providing customers with the finest quality sarees since 1993. Owned by the esteemed Santosh Kumar Seth, our store is a true destination for saree aficionados, offering a wide range of luxurious and unique sarees to suit all tastes and budgets. As both wholesalers and retailers, we have an extensive selection of sarees on offer, including traditional hand-woven silk and more modern printed styles.</p>

               <p class="text-justify"> Our showroom is a veritable paradise of sarees, elegantly adorned with an array of stunning options. Our team of knowledgeable and friendly staff are always on hand to assist customers in finding the perfect saree for any occasion. Each of our sarees is a true masterpiece, crafted with the utmost care and attention to detail using only the finest materials. We are dedicated to providing excellent customer service and are happy to answer any questions or provide styling advice.</p>
                
                
                <p class="text-justify">We invite you to visit our store and experience the beauty and craftsmanship of our Banarasi sarees for yourself. Follow us on social media or sign up for our email list to stay up-to-date on special discounts and promotions throughout the year. Thank you for considering our store and we look forward to welcoming you soon.</p>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Seth Saree Store </h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i><a href="https://www.google.com/search?q=seth%20sarees&oq=seth&aqs=chrome.0.69i59j69i57j69i59j69i60j69i61l2j69i60.1882j0j4&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:10&tbm=lcl&sxsrf=ALiCzsaSynD1unvd0ebaW9NJ0Fx-3SjwXA:1671827345404&rflfq=1&num=10&rldimm=527673046138865702&lqi=CgtzZXRoIHNhcmVlc0iz8qLwsq6AgAhaHRAAEAEYABgBIgtzZXRoIHNhcmVlcyoGCAIQABABkgEXZGVzaWduZXJfY2xvdGhpbmdfc3RvcmU&phdesc=J3chXqvknqQ&ved=2ahUKEwjjtbGYypD8AhVH03MBHdmAB1gQvS56BAgYEAE&sa=X&rlst=f#rlfi=hd:;si:527673046138865702,l,CgtzZXRoIHNhcmVlc0iz8qLwsq6AgAhaHRAAEAEYABgBIgtzZXRoIHNhcmVlcyoGCAIQABABkgEXZGVzaWduZXJfY2xvdGhpbmdfc3RvcmU,y,J3chXqvknqQ;mv:[[25.6578831,83.0200176],[25.2926608,82.8717667]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:10 "  target="_blank"style="color:black;">{{address}}</a></p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i><a href="mailto:sethsarees@gmail.com"  target="_blank" style="color:black;">{{email}}</a></p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i><a href="tel:+{{phone_no}}" style="color:black;"> +{{phone_no}}</a></p>
                
            </div>
            
        </div>
    </div>
</div>
<!-- About End -->


{% endblock content %}
