<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <title>Seth Sarees</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <!-- <link href="apple-touch-icon.png" rel="icon"> -->
    <link rel="icon" sizes="180x180" href="{% static './store/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static './store/favicon-32x32.png"' %} ">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './store/favicon-16x16.png' %} ">
    <link rel="manifest"  href="{% static './store/site.webmanifest' %} " >
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Libraries Stylesheet -->
    <link href="{% static './store/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static './store/css/style.css' %}" rel="stylesheet">

    
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="https://wa.me/{{phone_no}}?text=Hello,+I+needed+some+help+related+to+your+store">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="https://wa.me/{{phone_no}}?text=Hello,+I+needed+some+support+related+to+your+store">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="https://www.facebook.com/profile.php?id=100089091092224">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="https://www.instagram.com/seth_sarees/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark px-2" href="https://wa.me/{{phone_no}}?text=Hello,+I+am+interested+in+knowing+more+about+your+Store">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-telegram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href='/' class="text-decoration-none">
                    <h1 class="m-2 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Seth</span>Sarees</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form method="GET" action="/search" >
                    
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Product" name="search" id="search">
                        <div class="input-group-append">
                            <span class=" btn btn-primary input-group-text  bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">{{request.session.wishlist | length}}</span>
                </a>
                
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                {% block index_nav %}
                
                {% endblock index_nav %}
                {% block category_nav %}{% endblock category_nav %}
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        {% comment %} <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Dresses <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Men's Dresses</a>
                                <a href="" class="dropdown-item">Women's Dresses</a>
                                <a href="" class="dropdown-item">Baby's Dresses</a>
                            </div>
                        </div> {% endcomment %}
                        {%for category in categories%}
                            <a href="/category?category={{category.id}}" class="nav-item nav-link">{{category.name}}</a>
                        {%endfor%}

                        </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="/" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Seth</span>Sarees</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link active">Home</a>
                            <a href="/about" class="nav-item nav-link">About</a>
                            <a href="/category" class="nav-item nav-link">Our Sarees</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    {%for category in categories%}
                                        <a href="/category?category={{category.id}}" class="dropdown-item">{{category.name}}</a>
                                     {%endfor%}
                                
                                
                                </div>
                            </div>
                            <a href="/contact" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            {%if not request.session.customer%}
                            <a href="/login" class="nav-item nav-link">Login</a>
                            <a href="/signup" class="nav-item nav-link">Sign Up</a>
                            {%else%}
                            <a href="/logout" class="nav-item nav-link">Logout</a>

                            {%endif%}
                        </div>
                    </div>
                </nav>

                {% block show_corousel %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- Navbar End -->
        {%block content%}

        {%endblock%}
        
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="/" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">Seth</span>Sarees</h1>
                </a>
                <p>Retailer and wholeseller in all kinds of Banarasi and Silk Sarees.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i><a href="https://www.google.com/search?q=seth%20sarees&oq=seth&aqs=chrome.0.69i59j69i57j69i59j69i60j69i61l2j69i60.1882j0j4&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:10&tbm=lcl&sxsrf=ALiCzsaSynD1unvd0ebaW9NJ0Fx-3SjwXA:1671827345404&rflfq=1&num=10&rldimm=527673046138865702&lqi=CgtzZXRoIHNhcmVlc0iz8qLwsq6AgAhaHRAAEAEYABgBIgtzZXRoIHNhcmVlcyoGCAIQABABkgEXZGVzaWduZXJfY2xvdGhpbmdfc3RvcmU&phdesc=J3chXqvknqQ&ved=2ahUKEwjjtbGYypD8AhVH03MBHdmAB1gQvS56BAgYEAE&sa=X&rlst=f#rlfi=hd:;si:527673046138865702,l,CgtzZXRoIHNhcmVlc0iz8qLwsq6AgAhaHRAAEAEYABgBIgtzZXRoIHNhcmVlcyoGCAIQABABkgEXZGVzaWduZXJfY2xvdGhpbmdfc3RvcmU,y,J3chXqvknqQ;mv:[[25.6578831,83.0200176],[25.2926608,82.8717667]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:10" style="color:black;">{{address}}</a></p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i><a href="mailto:someone@example.com" style="color:black;">{{email}}</a></p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i><a href="tel:+{{phone_no}}" style="color:black;"> +{{phone_no}}</a></p>
                
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="/about"><i class="fa fa-angle-right mr-2"></i>About</a>
                            <a class="text-dark mb-2" href="/category"><i class="fa fa-angle-right mr-2"></i>Our Sarees</a>
                            <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Wishlist</a>
                            <a class="text-dark mb-2" href="/contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                            <a class="text-dark mb-2" href="https://www.google.com/search?q=seth%20sarees&oq=seth+sarees&aqs=chrome..69i57j69i59j69i61l3.2280j0j4&sourceid=chrome&ie=UTF-8&tbs=lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:10&tbm=lcl&sxsrf=ALiCzsb6kLBLebcYjMVq3ZZjTXegQRwJRQ:1671576707763&rflfq=1&num=10&rldimm=527673046138865702&lqi=CgtzZXRoIHNhcmVlc0iz8qLwsq6AgAhaHRAAEAEYABgBIgtzZXRoIHNhcmVlcyoGCAIQABABkgEXZGVzaWduZXJfY2xvdGhpbmdfc3RvcmU&phdesc=J3chXqvknqQ&ved=2ahUKEwjQ5oW_pIn8AhVywXMBHfXHBNoQvS56BAgeEAE&sa=X&rlst=f#lrd=0x398e2e1ed9ad1ce9:0x752abd6f8a7c826,3,,,&rlfi=hd:;si:527673046138865702,l,CgtzZXRoIHNhcmVlc0iz8qLwsq6AgAhaHRAAEAEYABgBIgtzZXRoIHNhcmVlcyoGCAIQABABkgEXZGVzaWduZXJfY2xvdGhpbmdfc3RvcmU,y,J3chXqvknqQ;mv:[[25.6592943,83.033485],[25.2677299,82.87100439999999]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:10"><i class="fa fa-angle-right mr-2"></i>Rate Us on Google</a>

                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Top Categories</h5>
                        <div class="d-flex flex-column justify-content-start">
                            {% for category in categories|slice:":6" %}
                            <a class="text-dark mb-2" href="/category?category={{category.id}}"><i class="fa fa-angle-right mr-2"></i>{{category}}</a>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="col-md-4 mb-3" >
                        <h5 class="font-weight-bold text-dark mb-4">Connect-Us on Whatsapp</h5>
                        <div class="d-flex flex-column ">
        
                            <p class=text-muted>Chat with us on Whatsapp to get your queries resolved.We provide 24x7 support.</p>
                            <a href="https://wa.me/{{phone_no}}?text=Hello,+I+am+interested+in+knowing+more+about+your+Store" class="btn btn-primary px-3 w-100">Chat With Us</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 pt-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    <div class=" d-flex align-items-center">
                        &copy; <a class="px-1 text-dark font-weight-semi-bold" href="#">Seth Sarees</a> All Rights Reserved. 
                    </div>  
                </p>  
            </div>
            <div class="col-md-6 px-xl-0">

                <div class="col  text-center  text-sm-right ">
                        <a class="text-dark px-2" href="https://www.facebook.com/profile.php?id=100089091092224">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="https://www.instagram.com/seth_sarees/">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-dark px-2" href="https://wa.me/{{phone_no}}?text=Hello,+I+am+interested+in+knowing+more+about+your+Store">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                        <a class="text-dark pl-2" href="">
                            <i class="fab fa-telegram"></i>
                        </a>
                </div>

            </div>
        </div>
        
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->

    <a href="tel:+{{phone_no}}"  class="btn btn-primary back-to-top">Call-Us <span class="pl-1"><i class="fa fa-phone" ></i></span></a>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static './store/lib/easing/easing.min.js' %}"></script>
    <script src="{% static './store/lib/owlcarousel/owl.carousel.js' %}"></script>


    <!-- Contact Javascript File -->
    <script src="{% static './store/mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static './store/mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static './store/js/main.js' %}"></script>
    

    <!-- Template Aos -->

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({});
    </script>



</body>
