<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <title>
        {%if title%}
        {{title}}
        {%else%}
        Seth Sarees
        {%endif%}
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
   
    <meta name="description" content="Discover a wide range of luxurious and unique Silk and Banarasi Sarees in Varanasi at wholesale and retail prices. Visit our showroom or shop online now.">
    <meta name="keywords" content="Banarasi Sarees, Silk Sarees, Varanasi, Wholesale, Retail,Silk,Saree">
   
    <!-- Favicon -->
    <!-- <link href="apple-touch-icon.png" rel="icon"> -->
    <link rel="icon" sizes="180x180" href="{% static './store/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static './store/favicon-32x32.png' %} ">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './store/favicon-16x16.png' %} ">
    <link rel="manifest"  href="{% static './store/site.webmanifest' %} " >
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Libraries Stylesheet -->
    <link href="{% static './store/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static './store/css/style.css' %}" rel="stylesheet">

    
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" target="_blank" href="https://wa.me/{{phone_no}}?text=Hello,+I+needed+some+help+related+to+your+store">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" target="_blank" href="https://wa.me/{{phone_no}}?text=Hello,+I+needed+some+support+related+to+your+store">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="https://www.facebook.com/profile.php?id=100089091092224" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="https://www.instagram.com/seth_sarees/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark px-2" href="https://wa.me/{{phone_no}}?text=Hello,+I+am+interested+in+knowing+more+about+your+Store" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="text-dark pl-2" href="" target="_blank">
                        <i class="fab fa-telegram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href='/' class="text-decoration-none">
                    <h1 class="m-2 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Seth</span>Sarees</h1>
                </a>
            </div>
            <div class="col-lg-6 col-7 text-left">
                <form method="GET" action="/search" >
                    
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Product" name="search" id="search">
                        <div class="input-group-append">
                            <button class=" btn btn-primary input-group-text  bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-5 text-right">
                <a href="/wishlist?next={{ request.get_full_path }}" class="btn border ">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">Wishlist: {{wishlist_len}}</span>
                </a>

            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                {% block index_nav %}
                
                {% endblock index_nav %}
                {% block category_nav %}{% endblock category_nav %}
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        {% comment %} <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Dresses <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Men's Dresses</a>
                                <a href="" class="dropdown-item">Women's Dresses</a>
                                <a href="" class="dropdown-item">Baby's Dresses</a>
                            </div>
                        </div> {% endcomment %}
                        {%for category in categories%}
                            <a href="/category?category={{category.id}}" class="nav-item nav-link">{{category.name}}</a>
                        {%endfor%}

                        </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="/" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Seth</span>Sarees</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}">Home</a>
                            <a href="/about" class="nav-item nav-link {% if request.path == '/about' %}active{% endif %}">About</a>
                            <a href="/category" class="nav-item nav-link {% if request.path == '/category' %}active{% endif %}">Our Sarees</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    {%for category in categories%}
                                        <a href="/category?category={{category.id}}" class="dropdown-item">{{category.name}}</a>
                                     {%endfor%}
                                
                                
                                </div>
                            </div>
                            <a href="/contact" class="nav-item nav-link {% if request.path == '/contact' %}active{% endif %}">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            {%if not request.session.customer%}
                            <span class="nav-item nav-link m-0 p-0">
                            <button type="button" class="btn text-dark btn-transparent nav-item nav-link" data-toggle="modal" data-target="#loginModal">Login
                            </button></span>
                            <span class="nav-item nav-link m-0 p-0">
                            <button type="button" class="btn text-dark btn-transparent nav-item nav-link" data-toggle="modal" data-target="#signupModal">Sign Up
                            </button>       </span>  
                            
                            {%else%}
                            <div class="nav-item nav-link" style="text-decoration:none">
                                <span style="color: black;" onmouseover="this.style.color='black';" onmouseout="this.style.color='black';">
                                Hello! 
                                </span>
                                <a data-toggle="modal" data-target="#changeInfoModal" style="color: black; text-decoration: none;" onmouseover="this.style.color='#D19C97'; this.style.textDecoration='none';" onmouseout="this.style.color='black'; this.style.textDecoration='none';">{{request.session.customer_first_name}} </a>
                            </div>
                            <span>
                            <a href="/logout?next={{ request.get_full_path|urlencode }}" class="nav-item nav-link">Logout</a>
                            </span>
                            {%endif%}
                        </div>
                    </div>
                </nav>

                {% block show_corousel %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- login start -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header m-0 border-bottom-2 d-flex align-items-center justify-content-between">
                <h5 class="modal-title mb-0">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body px-3 ">
            <!-- Login form goes here -->
            <form class="form" action="/login" method="post" name="login">
                {%csrf_token%}
    
                {%if request.GET.error_msg%}
                <div class="alert alert-danger text-center" role="alert">
                    <h5 class="alert-heading my-1">{{request.GET.error_msg}}</h5>
                    <p></p>
                    <p class="mb-0"></p>
                </div>
                {%endif%}
                <div class="form-group ">
                    <label for="email">Email address or WhatsApp Number</label>
                    <input type="text" class="form-control" id="email" name="phone_number" placeholder="Your Email or WhatsApp Number"
                        required="required" data-validation-required-message="Please enter your email" />
                    <p class="help-block text-danger"></p>
                </div>
                <input type="hidden" id="custId" name="next" value="{{ request.get_full_path }}">
                <div class="form-group mb-3">
                    <label for="email">Password</label> 
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        required="required" data-validation-required-message="Please enter a Password" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group d-flex flex-row justify-content-between">
                    <a href="/forgot-password" class="btn btn-link w-50 ml-2 mr-1">Forgot Password</a>
                    <button class="btn btn-primary w-50 ml-1">Login</button>
                </div>
            </form>
            </div>

            <div class="modal-footer border-top-2 d-flex justify-content-center">
                <button class="btn btn-outline-primary mx-2" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#signupModal">Not a member yet? Sign up now!</button>
            </div>
        </div>
        </div>
    </div>
    
    <!-- login end -->




    <!-- signup start -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header m-0 border-bottom-2 d-flex align-items-center justify-content-between">
                <h5 class="modal-title mb-0">Register your Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
              <!-- Login form goes here -->
               <form action="/signup" method="post" name="signup">
                            {%csrf_token%}
                            {%if request.GET.signup_error_msg%}
                            <div class="alert alert-danger text-center "   role="alert">
                                <h5 class="alert-heading my-1">{{request.GET.signup_error_msg}}</h5>
                                <p></p>
                                <p class="mb-0"></p>
                            </div>
                            {%endif%}
                              <input type="hidden" id="custId" name="next" value="{{ request.get_full_path }}">

                              <div class="control-group">
                                  <input type="text" class="form-control m-2 p-3" id="" name="first_name" placeholder="Your First Name"
                                      required="required" data-validation-required-message="Please enter your First Name" />
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="control-group">
                                <input type="text" class="form-control m-2 p-3" id="" name="last_name" placeholder="Your Last Name"
                                    required="required" data-validation-required-message="Please enter your Last Name" />
                                <p class="help-block text-danger"></p>
                                </div>

                              <div class="control-group">
                                <input type="email" class="form-control m-2 p-3" id="" name="email" placeholder="Your Email"
                                    required="required" data-validation-required-message="Please enter your Email" />
                                <p class="help-block text-danger"></p>
                                </div>

                              <div class="control-group d-flex flex-row align-items-center justify-content-center">
                                <select id="country-code" name="country-code" class=" m-1 form-control form-control-sm p-0" style="height:50px;width:150px;padding:0px">
                                    <option value="+91" style="font-size: small;">+91 (Inida)</option>
                                    <option value="+1" style="font-size: small;">+1 (USA)</option>
                                    <option value="+44" style="font-size: small;">+44 (UK)</option>
                                    <option value="+33" style="font-size: small;">+33 (France)</option>
                                    <option value="+81" style="font-size: small;">+81 (Japan)</option>
                                    <option value="+55" style="font-size: small;">+55 (Brazil)</option>
                                    <option value="+52" style="font-size: small;">+52 (Mexico)</option>
                                    <option value="+86" style="font-size: small;">+86 (China)</option>
                                  </select>
                                <input type="text" class="form-control m-1 p-3" id="" name="phone_number" placeholder="Your WhatsApp Number"
                                    required="required" data-validation-required-message="Please enter your WhatsApp Number" />
                                <p class="help-block text-danger"></p>
                                  
                            </div>
                            <div class="control-group text-center m   align-items-center justify-content-center">

                               <a  href="https://wa.me/14155238886?text=join+riding-world" target="_blank" class="btn text-center w-75 btn-outline-primary px-3">verify Its You</a>
                                <small style="display:block">Send us the generated code on whatsApp to verify you are you.</small>
                            </div>

                              <div class="control-group">
                                  <input type="password" class="form-control m-2 p-3" name="password" placeholder="Password"
                                      required="required" data-validation-required-message="Please enter a Password" />
                                  <p class="help-block text-danger"></p>
                              </div>
                              
            </div>
            <div class="modal-footer">
              <div type="button" class="btn btn-secondary" data-dismiss="modal">Close</div>
              <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
              
            </div>
          </div>
        </div>
      </div>
    
      
    <!-- signup end -->
    
    <!-- change_info start -->
    <div class="modal fade" id="changeInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header m-0 border-bottom-2 d-flex align-items-center justify-content-between">
                <h5 class="modal-title text-capitalize mb-0s">Update your personal information</h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
                
              <!-- Login form goes here -->
               <form action="/change_info" method="post" name="signup">
                            {%csrf_token%}
                            {%if request.GET.change_info_error_msg%}
                            <div class="alert alert-danger text-center "   role="alert">
                                <h5 class="alert-heading my-1">{{request.GET.change_info_error_msg}}</h5>
                                <p></p>
                                <p class="mb-0"></p>
                            </div>
                            {%endif%}
                              <input type="hidden" id="custId" name="next" value="{{ request.get_full_path }}">
                              <div class="form-group mb-3 pb-2" style="border-bottom: 1px solid grey">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" name="password" placeholder="Password" required="required" data-validation-required-message="Please enter a password" />
                                <small class="form-text text-muted text-center">Password is required to update your account information.</small>
                              </div>
                              <div class="control-group">
                                  <input type="text" class="form-control m-2 p-3" id="" name="first_name" placeholder="Your First Name"
                                      required="required" data-validation-required-message="Please enter your First Name" value="{{request.session.customer_first_name}}" />
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="control-group">
                                <input type="text" class="form-control m-2 p-3" id="" name="last_name" placeholder="Your Last Name"
                                    required="required" data-validation-required-message="Please enter your Last Name" value="{{request.session.customer_last_name}}" />
                                <p class="help-block text-danger"></p>
                                </div>

                              <div class="control-group">
                                <input type="email" class="form-control m-2 p-3" id="" name="email" placeholder="Your Email"
                                    required="required" data-validation-required-message="Please enter your Email" value="{{request.session.customer_email}}"/>
                                <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group d-flex flex-row align-items-center justify-content-center">
                                    <select id="country-code" name="country-code" class=" m-1 form-control form-control-sm p-0" style="height:50px;width:150px;padding:0px">
                                        <option value="+91" style="font-size: small;">+91 (Inida)</option>
                                        <option value="+1" style="font-size: small;">+1 (USA)</option>
                                        <option value="+44" style="font-size: small;">+44 (UK)</option>
                                        <option value="+33" style="font-size: small;">+33 (France)</option>
                                        <option value="+81" style="font-size: small;">+81 (Japan)</option>
                                        <option value="+55" style="font-size: small;">+55 (Brazil)</option>
                                        <option value="+52" style="font-size: small;">+52 (Mexico)</option>
                                        <option value="+86" style="font-size: small;">+86 (China)</option>
                                      </select>
                                    <input type="text" class="form-control m-1 p-3" id="" name="phone_number" placeholder="Your WhatsApp Number"
                                        required="required" data-validation-required-message="Please enter your WhatsApp Number" value="{{request.session.customer_phone_number}}" />
                                    <p class="help-block text-danger"></p>
                                      
                                </div>
                                <div class="control-group text-center m   align-items-center justify-content-center">
    
                                   <a  href="https://wa.me/14155238886?text=join+riding-world" target="_blank" class="btn text-center w-75 btn-outline-primary px-3">verify Its You</a>
                                    <small style="display:block">Send us the generated code on whatsApp to verify you are you.</small>
                                </div>
                         
            </div>
            <div class="modal-footer">
              <div type="button" class="btn btn-secondary" data-dismiss="modal">Close</div>
              <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
              
            </div>
          </div>
        </div>
      </div>
    
      
    <!-- change info end -->



        {%block content%}

        {%endblock%}
        
    <!-- Footer Start -->
    <footer class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="/" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">Seth</span>Sarees</h1>
                </a>
                <p>Retailer and wholeseller in all kinds of Banarasi and Silk Sarees.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i><a href="https://www.google.com/search?q=seth%20sarees&oq=seth&aqs=chrome.0.69i59j69i57j69i59j69i60j69i61l2j69i60.1882j0j4&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:10&tbm=lcl&sxsrf=ALiCzsaSynD1unvd0ebaW9NJ0Fx-3SjwXA:1671827345404&rflfq=1&num=10&rldimm=527673046138865702&lqi=CgtzZXRoIHNhcmVlc0iz8qLwsq6AgAhaHRAAEAEYABgBIgtzZXRoIHNhcmVlcyoGCAIQABABkgEXZGVzaWduZXJfY2xvdGhpbmdfc3RvcmU&phdesc=J3chXqvknqQ&ved=2ahUKEwjjtbGYypD8AhVH03MBHdmAB1gQvS56BAgYEAE&sa=X&rlst=f#rlfi=hd:;si:527673046138865702,l,CgtzZXRoIHNhcmVlc0iz8qLwsq6AgAhaHRAAEAEYABgBIgtzZXRoIHNhcmVlcyoGCAIQABABkgEXZGVzaWduZXJfY2xvdGhpbmdfc3RvcmU,y,J3chXqvknqQ;mv:[[25.6578831,83.0200176],[25.2926608,82.8717667]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:10 "  target="_blank"style="color:black;">{{address}}</a></p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i><a href="mailto:sethsarees@gmail.com"  target="_blank" style="color:black;">{{email}}</a></p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i><a href="tel:+{{phone_no}}" style="color:black;"> +{{phone_no}}</a></p>
                
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="/about"><i class="fa fa-angle-right mr-2"></i>About</a>
                            <a class="text-dark mb-2" href="/category"><i class="fa fa-angle-right mr-2"></i>Our Sarees</a>
                            <a class="text-dark mb-2" href="/wishlist"><i class="fa fa-angle-right mr-2"></i>Wish list</a>
                            <a class="text-dark mb-2" href="/contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                            <a class="text-dark mb-2" target="_blank" href="https://www.google.com/search?q=seth%20sarees&oq=seth+sarees&aqs=chrome..69i57j69i59j69i61l3.2280j0j4&sourceid=chrome&ie=UTF-8&tbs=lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:10&tbm=lcl&sxsrf=ALiCzsb6kLBLebcYjMVq3ZZjTXegQRwJRQ:1671576707763&rflfq=1&num=10&rldimm=527673046138865702&lqi=CgtzZXRoIHNhcmVlc0iz8qLwsq6AgAhaHRAAEAEYABgBIgtzZXRoIHNhcmVlcyoGCAIQABABkgEXZGVzaWduZXJfY2xvdGhpbmdfc3RvcmU&phdesc=J3chXqvknqQ&ved=2ahUKEwjQ5oW_pIn8AhVywXMBHfXHBNoQvS56BAgeEAE&sa=X&rlst=f#lrd=0x398e2e1ed9ad1ce9:0x752abd6f8a7c826,3,,,&rlfi=hd:;si:527673046138865702,l,CgtzZXRoIHNhcmVlc0iz8qLwsq6AgAhaHRAAEAEYABgBIgtzZXRoIHNhcmVlcyoGCAIQABABkgEXZGVzaWduZXJfY2xvdGhpbmdfc3RvcmU,y,J3chXqvknqQ;mv:[[25.6592943,83.033485],[25.2677299,82.87100439999999]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:10"><i class="fa fa-angle-right mr-2"></i>Rate Us on Google</a>

                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Top Categories</h5>
                        <div class="d-flex flex-column justify-content-start">
                            {% for category in categories|slice:":6" %}
                            <a class="text-dark mb-2" href="/category?category={{category.id}}"><i class="fa fa-angle-right mr-2"></i>{{category}}</a>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="col-md-4 mb-3" >
                        <h5 class="font-weight-bold text-dark mb-4">Connect-Us on WhatsApp</h5>
                        <div class="d-flex flex-column ">
        
                            <p class=text-muted>Chat with us on Whatsapp to get your queries resolved.We provide 24x7 support.</p>
                            <a href="https://wa.me/{{phone_no}}?text=Hello,+I+am+interested+in+knowing+more+about+your+Store" target="_blank" class="btn btn-primary px-3 w-100">Chat With Us</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 pt-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    <div class=" d-flex align-items-center">
                        &copy; <a class="px-1 text-dark font-weight-semi-bold" href="#">Seth Sarees</a> All Rights Reserved. 
                    </div>  
                </p>  
            </div>
            <div class="col-md-6 px-xl-0">

                <div class="col  text-center  text-sm-right ">
                        <a class="text-dark px-2" href="https://www.facebook.com/profile.php?id=100089091092224" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="https://www.instagram.com/seth_sarees/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-dark px-2" href="https://wa.me/{{phone_no}}?text=Hello,+I+am+interested+in+knowing+more+about+your+Store" target="_blank">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                        <a class="text-dark pl-2" href="">
                            <i class="fab fa-telegram"></i>
                        </a>
                </div>

            </div>
        </div>
        
    </footer>
    <!-- Footer End -->
    <button   class="btn btn-primary sticky-btn" onclick="window.location.href='tel:+{{phone_no}}'">Call-Us <span class="pl-1"><i class="fa fa-phone" ></i></span></button>


    <!-- Back to Top -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static './store/lib/easing/easing.min.js' %}"></script>
    <script src="{% static './store/lib/owlcarousel/owl.carousel.js' %}"></script>


    <!-- Contact Javascript File -->
    <script src="{% static './store/mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static './store/mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static './store/js/main.js' %}"></script>
    

    <!-- Template Aos -->

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({});
    </script>

    {% if request.GET.signup_error_msg  %}
    <script>
        $(document).ready(function() {
            $('#signupModal').modal('show');
        });
    </script>
    {% endif %}


    {% if request.GET.error_msg  %}
    <script>
        $(document).ready(function() {
            $('#loginModal').modal('show');
        });
    </script>
    {% endif %}

    {% if request.GET.change_info_error_msg  %}
    <script>
        $(document).ready(function() {
            $('#changeInfoModal').modal('show');
        });
    </script>
    {% endif %}
</body>
