{% extends 'base.html' %}
{% load static %}
{% block category_nav %}
<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
    
{% endblock category_nav %}
{% block content %}
<!-- forgot_password Start -->
<div class="container-fluid bg-light" style="padding:0%;margin-top:0px">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-4 col-md-6">
        <div class="card p-4">
            <div class="card-header text-center">
            <h3 class="card-title text-capitalize"> Hello! {{customer_name}}</h3>
            <p class="card-subtitle mb-2 text-muted">No problem,You can change your password now.</p>
        </div>
          <div class="card-body">
            <form action="/change_password" method='POST'>
                {%csrf_token%}
              <div class="form-group">
                <label for="Password">Password</label>
                <input type="hidden" name="customer_id" value="{{customer_id}}">
                <input type="hidden" name="customer_verification_token" value="{{customer_verification_token}}">
                <input type="Password" name="password" class="form-control" id="Password" aria-describedby="Password" placeholder="Enter Password" >
                <small id="emailHelp" class="form-text text-muted">Don't leave your account vulnerable, update your password.
                <button type="submit" class="btn btn-primary btn-block mt-2">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- forgot_password Start -->


{% endblock content %}
