{% extends 'base.html' %}
{% load static %}
{% block category_nav %}
<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
    
{% endblock category_nav %}
{% block content %}
<!-- forgot_password Start -->
<div class="container-fluid bg-light" style="padding:0%;margin-top:0px">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-4 col-md-6">
      <div class="card p-4">
          <form action="/forgot-password" method='POST'>
          {%  if request.GET.forgot_password_is_error == "Error" %}
            <div class="alert alert-danger text-center" role="alert">
              <h5 class="alert-heading my-1">User Does Not exits</h5>
              <p>New User? <a href="/?signup_error_msg=Please+Register+Your+Account">Signup Now</a></p>
            </div>
          {%endif%}
          {%  if request.GET.forgot_password_is_error == "Success" %}
            <div class="alert alert-success text-center" role="alert">
              <h5 class="alert-heading my-1">Check Your Mail</h5>
              <p>We have sent you a password reset link to {{request.GET.hidden_email}}.</p>
            </div>
          {%endif%}
          {%csrf_token%}
          <div class="card-header text-center">
            <h3 class="card-title"> Forgot your password?</h3>
            <p class="card-subtitle mb-2 text-muted">Enter your email address or whatsApp number and we'll send you a password reset link.</p>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="email">Email or WhatsApp Number</label>
              <input type="text" name="customer_email" class="form-control" id="email" placeholder="Enter email or whatsApp number" 
              {%if customer_email%}
              value="{{customer_email}}"
              {%endif%}
              >
              <small id="emailHelp" class="form-text text-muted">Don't worry, we got your back.</small>
            </div>
              <button type="submit" class="btn btn-primary btn-block mt-2">Retrieve Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- forgot_password Start -->


{% endblock content %}
