<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<link rel="icon" sizes="180x180" href="{% static './store/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static './store/favicon-32x32.png"' %} ">
<link rel="icon" type="image/png" sizes="16x16" href="{% static './store/favicon-16x16.png' %} ">
<link rel="manifest" href="{% static '.login/login_vendor/site.webmanifest' %}">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static './login/login_vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static './login/login_fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 


<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static './login/login_vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static './login/login_vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static './login/login_vendor/animsition/css/animsition.min.css' %}">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static './login/login_vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static './login/login_vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static './login/login_css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static './login/login_css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form action="/login" method="post" class="login100-form validate-form">
					{%csrf_token%}
					<span class="login100-form-title p-b-43">
						Login
					</span>
					{%if error_msg%}
					<div class="alert alert-danger text-center"  role="alert">
					  <h4 class="alert-heading">{{error_msg}}</h4>
					  <p></p>
					  <p class="mb-0"></p>
					</div>
					{%endif%}
					<div class="wrap-input100 validate-input" data-validate="Whatsapp Number or Email is required">
						<input class="input100" type="text" name="phone_number">
						<span class="focus-input100"></span>
						<span class="label-input100">Email or Whatsapp Number</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

				

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					
					</form>
				<div class="login100-more" style="background-image: url({% static './login/login_images/bg-01.jpg' %});">
                </div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="{% static './login/login_vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static './login/login_vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static './login/login_vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static './login/login_vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static './login/login_vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static './login/login_vendor/daterangepicker/moment.min.js'%}"></script>
	<script src="{% static './login/login_vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static './login/login_vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static './login/login_js/main.js'%}"></script>

</body>
</html>