{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class="container-fluid  mb-5">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
              <form class="col-6">
                <h1 class="text-center mb-4">Log In</h1>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-primary mr-3">Log In</button>
                  <a href="#" class="btn btn-link">Forgot password?</a>
                </div>
                <hr>
                <p class="text-center">New user? <a href="#" class="btn btn-secondary">Register</a></p>
              </form>
            </div>
          </div>
    </div>

    {% endblock content%}

    {% block category_nav %}
    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                    
    {% endblock category_nav %}